{:mvn/repos {"my.datomic.com"
             {:url "https://my.datomic.com/repo"}}
 :deps
 {blaze/datomic
  {:local/root "../datomic"}

  com.datomic/datomic-pro
  {:mvn/version "0.9.6045"}

  org.clojars.akiel/datomic-tools
  {:mvn/version "0.4"}}}
