{:config
 {:blaze/structure-definition
  {}

  :blaze.database/conn
  {:structure-definitions #ig/ref :blaze/structure-definition
   :database/uri          "datomic:mem://dev"}

  [:blaze/terminology-service :blaze.terminology-service/extern]
  {:uri "http://tx.fhir.org/r4"}

  :blaze.interaction/read
  {:database/conn #ig/ref :blaze.database/conn}

  :blaze.interaction.search.match/reference
  {}

  [:blaze.interaction/search-type :blaze.interaction.search/Patient]
  {:database/conn #ig/ref :blaze.database/conn}

  [:blaze.interaction/search-type :blaze.interaction.search/Consent]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "actor"
                                        :blaze.fhir.SearchParameter/expression [:Consent/provision :Consent.provision/actor :Consent.provision.actor/reference]}
                                       {:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Consent/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Condition]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Condition/subject :Patient/id]}
                                       {:blaze.fhir.SearchParameter/code       "category"
                                        :blaze.fhir.SearchParameter/expression [:Condition/category :CodeableConcept/coding :Coding/code :code/code]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/ServiceRequest]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:ServiceRequest/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Goal]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Goal/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Procedure]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Procedure/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/AllergyIntolerance]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:AllergyIntolerance/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Device]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Device/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Immunization]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Immunization/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Observation]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Observation/subject :Patient/id]}
                                       {:blaze.fhir.SearchParameter/code       "category"
                                        :blaze.fhir.SearchParameter/expression [:Observation/Category :CodeableConcept/coding :Coding/code :code/code]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/DiagnosticReport]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:DiagnosticReport/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/CarePlan]
  {:database/conn                     #ig/ref :blaze.database/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:CarePlan/subject :Patient/id]}]}

  :blaze.fhir.operation.evaluate-measure/executor
  {}

  :blaze/clock
  {}

  :blaze.fhir.operation.evaluate-measure/handler
  {:clock         #ig/ref :blaze/clock
   :term-service  #ig/ref :blaze/terminology-service
   :executor      #ig/ref :blaze.fhir.operation.evaluate-measure/executor
   :database/conn #ig/ref :blaze.database/conn}

  :context-path "fhir"

  :server-executor {}

  :server
  {:port 8080
   :executor #ig/ref :server-executor
   :handler #ig/ref :blaze/rest-api
   :version "my-version-1"
   :context-path #ig/ref :context-path}

  :blaze/rest-api
  {:base-url              "http://localhost:8080"
   :database/conn         #ig/ref :blaze.database/conn
   :structure-definitions #ig/ref :blaze/structure-definition
   :config
   #:blaze.rest-api
   {:context-path        "fhir"
    :transaction-handler nil
    :resource-patterns
    [#:blaze.rest-api.resource-pattern {:type "Patient"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Patient]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     
     #:blaze.rest-api.resource-pattern {:type "Condition"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Condition]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}

     #:blaze.rest-api.resource-pattern {:type "Consent"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Consent]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}

     #:blaze.rest-api.resource-pattern {:type "ServiceRequest"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/ServiceRequest]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}

     #:blaze.rest-api.resource-pattern {:type "Goal"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Goal]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}

     #:blaze.rest-api.resource-pattern {:type "Procedure"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Procedure]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "AllergyIntolerance"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/AllergyIntolerance]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Device"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Device]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Immunization"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Immunization]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Observation"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/Observation]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "DiagnosticReport"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/DiagnosticReport]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "CarePlan"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/CarePlan]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}

     ]
    :operations
    [#:blaze.rest-api.operation
     {:code             "evaluate-measure"
      :resource-types   ["Measure"]
      :type-handler     #ig/ref :blaze.fhir.operation.evaluate-measure/handler
      :instance-handler #ig/ref :blaze.fhir.operation.evaluate-measure/handler}]}}}}
