{:config
 {:blaze/structure-definition
  {}

  :blaze.database/conn
  {:structure-definitions #ig/ref :blaze/structure-definition
   :database/uri          "datomic:mem://dev"}

  [:blaze/terminology-service :blaze.terminology-service/extern]
  {:uri "http://tx.fhir.org/r4"}

  :blaze.interaction/read
  {:database/conn #ig/ref :blaze.database/conn}

  :blaze.interaction.search.match/reference
  {}



  ;; --------------------- search types -----------------------------
  [:blaze.interaction/search-type :blaze.interaction.search/patient]
  {:database/conn #ig/ref :blaze.database/conn}

  [:blaze.interaction/search-type :blaze.interaction.search/condition]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"patient"  {:matches-fn #ig/ref :blaze.interaction.search.match/reference
                               :attr       :Condition/subject}
                   "subject"  {:matches-fn :match-reference?
                               :attr       :Condition/subject}
                   "category" {:matches-fn :match-codeable-concept?
                               :attr       :Condition/category}}}
  ;;Example of new format
  ;; [:blaze.interaction/search-type :blaze.interaction.search/consent]
  ;; {:database/conn                         #ig/ref :blaze.database/conn
  ;;  :blaze.fhir.SearchParameter/code       "actor"
  ;;  :blaze.fhir.SearchParameter/expression [:Consent/provision :Consent.provision/actor :Consent.provision.actor/reference]}


  [:blaze.interaction/search-type :blaze.interaction.search/consent]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"patient" {:matches-fn :match-reference?
                              :attr       :Consent/patient}
                   "actor"   {:matches-fn :match-actor?
                              :attr       :Consent/provision}}}

  [:blaze.interaction/search-type :blaze.interaction.search/service-request]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"subject" {:matches-fn :match-reference?
                              :attr       :ServiceRequest/subject}
                   "patient" {:matches-fn :match-reference?
                              :attr       :ServiceRequest/subject}}}

  [:blaze.interaction/search-type :blaze.interaction.search/goal]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"subject" {:matches-fn :match-reference?
                              :attr       :Goal/subject}
                   "patient" {:matches-fn :match-reference?
                              :attr       :Goal/subject}}}

  [:blaze.interaction/search-type :blaze.interaction.search/procedure]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"subject" {:matches-fn :match-reference?
                              :attr       :Procedure/subject}
                   "patient" {:matches-fn :match-reference?
                              :attr       :Procedure/subject}}}

  [:blaze.interaction/search-type :blaze.interaction.search/allergy-intolerance]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"patient" {:matches-fn :match-reference?
                              :attr       :AllergyIntolerance/patient}}}

  [:blaze.interaction/search-type :blaze.interaction.search/device]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"patient" {:matches-fn :match-reference?
                              :attr       :Device/patient}}}

  [:blaze.interaction/search-type :blaze.interaction.search/immunization]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"patient" {:matches-fn :match-reference?
                              :attr       :Immunization/patient}}}

  [:blaze.interaction/search-type :blaze.interaction.search/observation]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"patient"  {:matches-fn :match-reference?
                               :attr       :Observation/subject}
                   "category" {:matches-fn :match-codeable-concept?
                               :attr       :Observation/category}}}

  [:blaze.interaction/search-type :blaze.interaction.search/diagnostic-report]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"subject" {:matches-fn :match-reference?
                              :attr       :DiagnosticReport/subject}
                   "patient" {:matches-fn :match-reference?
                              :attr       :DiagnosticReport/subject}}}

  [:blaze.interaction/search-type :blaze.interaction.search/care-plan]
  {:database/conn #ig/ref :blaze.database/conn
   :search/params {"subject" {:matches-fn :match-reference?
                              :attr       :CarePlan/subject}
                   "patient" {:matches-fn :match-reference?
                              :attr       :CarePlan/subject}}}

  :blaze.fhir.operation.evaluate-measure/executor
  {}

  :blaze/clock
  {}

  :blaze.fhir.operation.evaluate-measure/handler
  {:clock         #ig/ref :blaze/clock
   :term-service  #ig/ref :blaze/terminology-service
   :executor      #ig/ref :blaze.fhir.operation.evaluate-measure/executor
   :database/conn #ig/ref :blaze.database/conn}


  :blaze/rest-api
  {:base-url              "http://localhost:8080"
   :database/conn         #ig/ref :blaze.database/conn
   :structure-definitions #ig/ref :blaze/structure-definition
   :config
   #:blaze.rest-api
   {:context-path        "fhir"
    :transaction-handler nil
    :resource-patterns
    [#:blaze.rest-api.resource-pattern {:type "Patient"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/patient]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Condition"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/condition]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Consent"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/consent]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "ServiceRequest"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/service-request]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Goal"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/goal]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Procedure"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/procedure]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "AllergyIntolerance"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/allergy-intolerance]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Device"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/device]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Immunization"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/immunization]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "Observation"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/observation]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "DiagnosticReport"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/diagnostic-report]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}
     #:blaze.rest-api.resource-pattern {:type "CarePlan"
                                        :interactions
                                        {:search-type
                                         {:handler #ig/ref [:blaze.interaction/search-type :blaze.interaction.search/care-plan]}
                                         :read
                                         {:handler #ig/ref :blaze.interaction/read}}}

     ]
    :operations
    [#:blaze.rest-api.operation
     {:code             "evaluate-measure"
      :resource-types   ["Measure"]
      :type-handler     #ig/ref :blaze.fhir.operation.evaluate-measure/handler
      :instance-handler #ig/ref :blaze.fhir.operation.evaluate-measure/handler}]}}
  }}
