{:lint-as
 {dromon.elm.compiler/defunop clojure.core/defn
  dromon.elm.compiler/defbinop clojure.core/defn
  dromon.elm.compiler/defternop clojure.core/defn
  dromon.elm.compiler/defnaryop clojure.core/defn
  dromon.elm.compiler/defaggop clojure.core/defn
  dromon.elm.compiler/defbinopp clojure.core/defn
  dromon.elm.compiler/defunopp clojure.core/defn
  clojure.test.check.properties/for-all clojure.core/let
  datomic-tools.schema/defunc clojure.core/defn
  manifold.deferred/loop clojure.core/loop
  manifold.deferred/let-flow clojure.core/let
  manifold.deferred/let-flow' clojure.core/let
  prometheus.alpha/defcounter clojure.core/def
  prometheus.alpha/defhistogram clojure.core/def}

 :linters
 {:unused-private-var
  {:exclude
   [dromon.datomic.value/string-short-len-code
    dromon.datomic.value/string-int-len-code
    dromon.datomic.value/boolean-code]}

  ;; because of macros in modules/cql/src/dromon/elm/compiler.clj
  :redefined-var
  {:level :off}}}
