{:deps
 {dromon/fhir-client
  {:local/root "../fhir-client"}

  dromon/module-base
  {:local/root "../module-base"}

  dromon/terminology-service
  {:local/root "../terminology-service"}

  org.clojure/core.cache
  {:mvn/version "0.8.2"}}}
