{:base-config
 {:blaze.terminology-service/extern
  {:uri #blaze/cfg ["TERM_SERVICE_URI" string? "http://tx.fhir.org/r4"]
   :proxy-host #blaze/cfg ["PROXY_HOST" string?]
   :proxy-port #blaze/cfg ["PROXY_PORT" pos-int?]
   :proxy-user #blaze/cfg ["PROXY_USER" string?]
   :proxy-password #blaze/cfg ["PROXY_PASSWORD" string?]
   :connection-timeout #blaze/cfg ["CONNECTION_TIMEOUT" pos-int?]
   :request-timeout #blaze/cfg ["REQUEST_TIMEOUT" pos-int?]}

  :blaze.terminology-service.extern/errors-total {}
  :blaze.terminology-service.extern/request-duration-seconds {}

  :blaze.interaction.history/system
  {:database/conn #blaze/ref :blaze.datomic/conn}

  :blaze.interaction.history/type
  {:database/conn #blaze/ref :blaze.datomic/conn}

  :blaze.interaction.history/instance
  {:database/conn #blaze/ref :blaze.datomic/conn}

  :blaze.interaction/create
  {:database/transaction-executor #blaze/ref :blaze.datomic.transaction/executor
   :database/conn #blaze/ref :blaze.datomic/conn
   :term-service #blaze/ref :blaze/terminology-service}

  :blaze.interaction/delete
  {:database/transaction-executor #blaze/ref :blaze.datomic.transaction/executor
   :database/conn #blaze/ref :blaze.datomic/conn}

  :blaze.interaction/read
  {:database/conn #blaze/ref :blaze.datomic/conn}

  [:blaze.interaction/search-type :blaze.interaction.search/default]
  {:database/conn #blaze/ref :blaze.datomic/conn}

  :blaze.interaction.transaction/executor {}

  :blaze.interaction.transaction/handler
  {:database/transaction-executor #blaze/ref :blaze.datomic.transaction/executor
   :database/conn #blaze/ref :blaze.datomic/conn
   :term-service #blaze/ref :blaze/terminology-service
   :executor #blaze/ref :blaze.interaction.transaction/executor}

  :blaze.interaction/update
  {:database/transaction-executor #blaze/ref :blaze.datomic.transaction/executor
   :database/conn #blaze/ref :blaze.datomic/conn
   :term-service #blaze/ref :blaze/terminology-service}

  :blaze.fhir.operation.evaluate-measure/executor {}

  :blaze.fhir.operation.evaluate-measure/handler
  {:clock #blaze/ref :blaze/clock
   :database/transaction-executor #blaze/ref :blaze.datomic.transaction/executor
   :database/conn #blaze/ref :blaze.datomic/conn
   :term-service #blaze/ref :blaze/terminology-service
   :executor #blaze/ref :blaze.fhir.operation.evaluate-measure/executor}

  :blaze.fhir.operation.evaluate-measure/compile-duration-seconds {}
  :blaze.fhir.operation.evaluate-measure/evaluate-duration-seconds {}


  ;; breeze api start

  [:blaze.interaction/search-type :blaze.interaction.search/Patient]
  {:database/conn #blaze/ref :blaze.datomic/conn}

  [:blaze.interaction/search-type :blaze.interaction.search/Condition]
  ;; TODO: May want to add a new key that specifies the mapping between fhir and our datomic schema
  ;; It should be a ref that points to another part of this edn file with the (data) description of the mapping
  ;; Try to make it so Alex will like it. We will want our mapping descriptions to happen previously,
  ;; Alex probably prefers them to happen in real time. The difference is we want to point to some data,
  ;; he will probably want to point to a function that transforms the fhir json files during startup
  ;; would be nice to be able to handle 2 versions at the same time for a given resource
  ;; the search parameters are incomplete
  ;; consider the invariants https://www.hl7.org/fhir/condition.html#invs
  ;; consider using clojure spec, don't try to prevent all possible errors. use it for information, mainly as documentation,
  ;;  can also use to generate things that make sense
  ;; we'll need to be able to reference custom functions as well (like handle the merging of identifier and identifier$id)
  ;; later we'll need to optimize the searching handler but not yet
  ;;
  ;; get to a concrete implementation fairly quickly. focus on condition and have it work on our database
  ;; don't do edn generation, manually edit it
  ;; do modify the interaction module handlers
  ;; writing is a lower priority. All Drew needs is reading and searching
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Condition/subject :Patient/id]}
                                       {:blaze.fhir.SearchParameter/code       "category"
                                        :blaze.fhir.SearchParameter/expression [:Condition/category :CodeableConcept/coding :Coding/code :code/code]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Consent]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/config [{:blaze.fhir.SearchParameter/code       "actor"
                                        :blaze.fhir.SearchParameter/expression [:Consent/provision :Consent.provision/actor :Consent.provision.actor/reference :Patient/id]}
                                       {:blaze.fhir.SearchParameter/code       "patient"
                                        :blaze.fhir.SearchParameter/expression [:Consent/patient :Patient/id]}]}


  [:blaze.interaction/search-type :blaze.interaction.search/ServiceRequest]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:ServiceRequest/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Goal]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:Goal/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Procedure]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:Procedure/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/AllergyIntolerance]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:AllergyIntolerance/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Device]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:Device/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Immunization]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:Immunization/patient :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/Observation]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:Observation/subject :Patient/id]}
                                          {:blaze.fhir.SearchParameter/code       "category"
                                           :blaze.fhir.SearchParameter/expression [:Observation/Category :CodeableConcept/coding :Coding/code :code/code]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/DiagnosticReport]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:DiagnosticReport/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/CarePlan]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:CarePlan/subject :Patient/id]}]}

  [:blaze.interaction/search-type :blaze.interaction.search/MedicationRequest]
  {:database/conn                     #blaze/ref :blaze.datomic/conn
   :blaze.fhir.SearchParameter/confblaze [{:blaze.fhir.SearchParameter/code       "patient"
                                           :blaze.fhir.SearchParameter/expression [:MedicationRequest/subject :Patient/id]}]}



  ;; breeze api end

  :blaze/rest-api
  {:transaction-handler #blaze/ref :blaze.interaction.transaction/handler
   :history-system-handler #blaze/ref :blaze.interaction.history/system
   :resource-patterns
   [#:blaze.rest-api.resource-pattern
    {:type :default
     :interactions
     {:read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}
      :vread
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}
      :update
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/update}
      :delete
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/delete}
      :history-instance
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction.history/instance}
      :history-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction.history/type}
      :create
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/create}
      :search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/default]}}}
    ;;breeze api
    #:blaze.rest-api.resource-pattern
    {:type "Condition"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Condition]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Consent"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Consent]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Patient"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Patient]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "ServiceRequest"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/ServiceRequest]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Goal"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Goal]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Procedure"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Procedure]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "AllergyIntolerance"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/AllergyIntolerance]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Device"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Device]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Immunization"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Immunization]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "Observation"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/Observation]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "DiagnosticReport"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/DiagnosticReport]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "CarePlan"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/CarePlan]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}
    #:blaze.rest-api.resource-pattern
    {:type "MedicationRequest"
     :interactions
     {:search-type
      #:blaze.rest-api.interaction
      {:handler #blaze/ref [:blaze.interaction/search-type :blaze.interaction.search/MedicationRequest]}
      :read
      #:blaze.rest-api.interaction
      {:handler #blaze/ref :blaze.interaction/read}}}]
   :operations
   [#:blaze.rest-api.operation
    {:code "evaluate-measure"
     :def-uri "http://hl7.org/fhir/OperationDefinition/Measure-evaluate-measure"
     :resource-types ["Measure"]
     :type-handler #blaze/ref :blaze.fhir.operation.evaluate-measure/handler
     :instance-handler #blaze/ref :blaze.fhir.operation.evaluate-measure/handler}]}}

 :features
 [{:name "OpenID Authentication"
   :toggle "OPENID_PROVIDER_URL"
   :config
   {[:blaze.auth/backend :blaze.openid-auth/backend]
    {:openid-provider/url #blaze/cfg ["OPENID_PROVIDER_URL" string?]}}}]}
