{:mvn/repos {"my.datomic.com"
             {:url "https://my.datomic.com/repo"}}

 :deps
 {dromon/executor
  {:local/root "../executor"}

  dromon/module-base
  {:local/root "../module-base"}

  dromon/rest-util
  {:local/root "../rest-util"}

  dromon/spec
  {:local/root "../spec"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {dromon/datomic-test-util
    {:local/root "../datomic-test-util"}

    lambdaisland/kaocha
    {:mvn/version "0.0-565"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}}}
