{:mvn/repos {"my.datomic.com"
              {:url "https://my.datomic.com/repo"}}
 :deps
 {dromon/anomaly
  {:local/root "../anomaly"}

  dromon/executor
  {:local/root "../executor"}

  dromon/module-base
  {:local/root "../module-base"}

  dromon/structure-definition
  {:local/root "../structure-definition"}

  dromon/terminology-service
  {:local/root "../terminology-service"}

  com.datomic/datomic-pro
  {:mvn/version "0.9.6045"}

  funcool/cuerdas
  {:mvn/version "2.2.1"}

  org.clojars.akiel/datomic-spec
  {:mvn/version "0.5.2"}

  org.clojars.akiel/datomic-tools
  {:mvn/version "0.4"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {dromon/datomic-test-util
    {:local/root "../datomic-test-util"}

    criterium
    {:mvn/version "0.4.5"}

    lambdaisland/kaocha
    {:mvn/version "0.0-565"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/data.xml
    {:mvn/version "0.0.8"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}
 }}
